@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.row {
  padding: 1rem;
  flex-direction: row;
  display: flex;
}

.auto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: #e74c3c;
  padding: 30px;
  color: white;
  border-radius: 8px;
}


.panel {
  display: flex;
  flex-direction: column;
}

.panel > .title {
  text-align: center;
}

/* Messages */
.message {
  display: flex;
  flex-direction: row;
}

.message > .timestamp {
  flex: auto;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: center;
}

.message > .name {
  flex: auto;
  flex-grow: 0;
  flex-shrink: 0;
  width: 7rem;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-self: center;
  text-align: right;
}

.message > .content {
  flex: auto;
}

/* Karma table */

.karma {
  display: flex;
  flex-direction: row;
}

.karma > .karma_user {
  flex-grow: 1;
}

.karma > .karma_value {
  flex-grow: 0;
}
